.title-icon {
  background: gold;
  color: white;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  line-height: 55px;
  font-size: 35px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px 15px 0px 0px;
}

.icon {
  width: 60px;
  height: 40px;
  margin: 0px 0px 2px 10px;
  padding: 0px 3px 0px 0px;
}

.basket-container {
  margin-left: 45px;
  margin-top: 50px;
  border-radius: 10px;
}

.checkout {
  background: yellow;
  border-radius: 0px 0px 10px 10px;
}

.ordering-food {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.7em 1em calc(0.4em + 3px);
  border-radius: 3px;
  background: gray;
  box-shadow: 0 -3px black inset;
  transition: 0.2s;
  margin-left: 38px;
  margin-right: 30px;
  margin-top: 2px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 13px;
}

.total {
  background: yellow;
  text-align: center;
  line-height: 45px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 633;
}

.final-purchase-price {
  display: inline;
  margin-right: 5px;
  font-size: 17px;
}

.container-quantity-and-name {
  background: gold;
  color: white;
  font-weight: 800;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  position: relative;
}

.order-name-and-quantity {
  background: yellow;
  color: black;
  display: inline-block;
  text-align: center;
  width: 116px;
  line-height: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 633;
  border-style: solid;
  border-width: 0px 0px 3px 0px;
  border-color: #ffd700;
  font-size: 17px;
}

.item-basket {
  margin-top: 5px;
}
