.size-cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-height: 42vh;
  overflow-y: auto;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.size-cards::-webkit-scrollbar {
  width: 0;
  height: 0;
}
