.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99998;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4, visibility 0.4s;
}

.modal.open {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99998;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  transition: opacity 0.4, visibility 0.4s;
  visibility: visible;
  opacity: 1;
}

.modal-box {
  transform: scale(0);
  transition: transform 0.8s;
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  max-width: 40vw;
  min-width: 40vw;
  left: 22vw;
}

.modal.open .modal-box {
  transform: scale(1);
}

.modal-close-btn {
  position: absolute;
  border: none;
  top: -5px;
  right: -5px;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.modal-window-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff8f8;
  background-color: gold;
  margin: 0;
  text-align: center;
  padding: 10px 0px 10px 0px;
  font-size: 20px;
  font-weight: 700;
}

.modal-window-menu {
  background: rgb(228, 219, 219);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
}

.items-menu {
  display: flex;
  justify-content: center;
  background: white;
  height: 40px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}

.menu-products {
  display: flex;
  justify-content: space-between;

  color: black;
  margin-bottom: 5px;
  position: relative;
}

.size-cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-height: 42vh;
  overflow-y: auto;
}

.price-quantity-in-basket {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  padding-bottom: 10px;
  padding-top: 20px;
}

.price-and-basket {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


