.title {
  color: gray;
  text-align: center;
  -webkit-text-stroke: 2px black;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px 0px 40px 0px;
  font-weight: 600;
}

.btn.btn-warning {
  font-size: 1.7rem;
  margin: 10px;
}

.authorization {
  text-align: right;
}

.avatar {
  max-width: 60px;
  margin-top: 10px;
}

.container-avatar {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.name-avatar {
  margin-right: 5px;
  font-size: 1.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
