@import "../node_modules/bootstrap/dist/css/bootstrap.css";

:root {
  font-size: 10px;
}

#root {
  width: 100vw;
  height: 100vh;
}

body {
  background-image: url(src/assets/img/wood1.png);
  display: flex;
  place-items: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
